body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user_posts {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}
